openapi: 3.0.1
info:
  title: HotelRoomBooking | v1
  version: 1.0.0
servers:
  - url: https://hotelroombooking.gentlepond-023a01ce.uksouth.azurecontainerapps.io/
paths:
  /hotels:
    post:
      tags:
        - HotelRoomBooking
      description: Create Hotels
      operationId: CreateHotel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Hotel"
        required: true
      responses:
        "200":
          description: OK
    get:
      tags:
        - HotelRoomBooking
      description: Returns all Hotels
      operationId: GetAllHotels
      responses:
        "200":
          description: OK
  /hotels/{hotelName}:
    get:
      tags:
        - HotelRoomBooking
      description: Returns a Hotel by its name
      operationId: GetHotelById
      parameters:
        - name: hotelName
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /hotels/{hotelName}/available-rooms:
    get:
      tags:
        - HotelRoomBooking
      description: Returns a list of available rooms for the given dates and number of
        guests
      operationId: AvailableRooms
      parameters:
        - name: hotelName
          in: path
          required: true
          schema:
            type: string
        - name: checkin
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: checkout
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: numberOfGuests
          in: query
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
  /hotels/{hotelName}/bookings:
    post:
      tags:
        - HotelRoomBooking
      description: Attempts to book a room that matches the given criteria.
      operationId: CreateBooking
      parameters:
        - name: hotelName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingRequest"
        required: true
      responses:
        "200":
          description: OK
  /bookings/{bookingReference}:
    get:
      tags:
        - HotelRoomBooking
      description: Returns a booking by its reference
      operationId: GetBookingById
      parameters:
        - name: bookingReference
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
  /testdata:
    post:
      tags:
        - HotelRoomBooking
      description: Seeds the database with a single hotel and a single booking
      operationId: SeedDatabase
      responses:
        "200":
          description: OK
    delete:
      tags:
        - HotelRoomBooking
      description: Clears the database of all data
      operationId: ClearDatabase
      responses:
        "200":
          description: OK
components:
  schemas:
    BookingRequest:
      required:
        - guestId
        - numberOfGuests
        - checkInDate
        - checkOutDate
      type: object
      properties:
        roomType:
          $ref: "#/components/schemas/NullableOfRoomType"
        roomName:
          maxLength: 100
          minLength: 0
          type: string
          nullable: true
        guestId:
          maxLength: 100
          minLength: 0
          type: string
        numberOfGuests:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
        checkInDate:
          type: string
          format: date
        checkOutDate:
          type: string
          format: date
        requiredNights:
          type: array
          items:
            type: string
            format: date
          nullable: true
    Hotel:
      required:
        - name
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
        rooms:
          maxItems: 6
          minItems: 6
          type: array
          items:
            $ref: "#/components/schemas/Room"
        links:
          type: array
          items:
            $ref: "#/components/schemas/Link"
          nullable: true
    Link:
      required:
        - href
        - rel
        - method
      type: object
      properties:
        href:
          type: string
        rel:
          type: string
        method:
          type: string
    NullableOfRoomType:
      enum:
        - Single
        - Double
        - Deluxe
        - null
      nullable: true
    Room:
      required:
        - roomName
        - roomType
      type: object
      properties:
        roomName:
          maxLength: 100
          minLength: 0
          type: string
        roomType:
          $ref: "#/components/schemas/RoomType"
        capacity:
          maximum: 100
          minimum: 1
          type: integer
          format: int32
    RoomType:
      enum:
        - Single
        - Double
        - Deluxe
tags:
  - name: HotelRoomBooking
